
.emoji {
    height: 100px;
    width: 100px;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 5%;
}

.animated-emoji {
    height: 16px;
    width: 16px;
}

.emoji-text {
    height: 100px;
    width: 100px;
}

.emoji-stream {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.emoji-live-stream {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.flex-container {
    display: flex;
}

.pizza {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.progress-bar {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.progress-bar-div {
    margin-top: 5%;
}